
@{
    ViewBag.Title = "Takvim";
    Layout = "~/Views/Shared/_LayoutO.cshtml";
}
<br />
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title" style="color:blue;"><span class="fa fa-calendar"></span> &nbsp; Takvim</h4>
                <p class="category">Takvim görevleri</p>
            </div>
        </div>
    </div>
</div>
