
@{
    ViewBag.Title = "Notlar";
    Layout = "~/Views/Shared/_LayoutO.cshtml";
}

<br />
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title" style="color:blue;"><span class="pe-7s-notebook"></span> &nbsp; Haftalık Çizelge</h4>
                <p class="category">Tüm notlar</p>
            </div>
        </div>
    </div>
</div>

