
@{
    ViewBag.Title = "Haftalık Çizelge";
}

<br />
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title" style="color:blue;"><span class="pe-7s-notebook"></span> &nbsp; Öğrenci Devam Tablosu</h4>
                <p class="category">Devamsızlık ve imza takip planı yapın</p>
            </div>
            <div class="content">
                <div class="container">
                    <div class="row">                   
                        <h2 class="text-center">Zaman Çizelgesi</h2>
                    </div>
                </div>               
            </div>
            <div class="editor-indent" style="margin-left: 20px; padding: 0 0 0 40px; margin-right: 50px">
                <table class="agenda">
                    <thead>
                        <tr>
                            <th>Saatler/Günler</th>
                            <th>Pazartesi</th>
                            <th>Salı</th>
                            <th>Çarşamba</th>
                            <th>Perşembe</th>
                            <th>Cuma</th>
                            <th>Cumartesi</th>
                            <th>Pazar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>08:00</td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                        </tr>
                        <tr>
                            <td>09:30</td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                        </tr>
                        <tr>
                            <td>11:00</td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                        </tr>
                        <tr>
                            <td>13:00</td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                        </tr>
                        <tr>
                            <td>14:30</td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                        </tr>
                        <tr>
                            <td>16:00</td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                        </tr>
                        <tr>
                            <td>17:30</td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                            <td><a href="#">Boş</a></td>
                        </tr>
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
</div>

