@model CepNot.ViewModel.TaskManagerDetail

@{
    ViewBag.Title = "TaskManager";
}

<br />
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title" style="color:blue;"><span class="pe-7s-notebook"></span> &nbsp; Öğrenci Devam Tablosu</h4>
                <p class="category">Devamsızlık ve imza takip planı yapın</p>
            </div>
            <hr />
            <div class="editor-indent" style="margin-left: 20px; padding: 0 0 0 40px; margin-right: 50px">
                <table class="agenda">
                    <thead>
                        <tr>
                            <th style="background-color:#00C !important; color:white;">Hava Durumu</th>
                            <th style="background-color:whitesmoke !important; color:blue;">23 Derece </th>
                            <th style="background-color:whitesmoke !important; color:blue;">25 Derece</th>
                            <th style="background-color:whitesmoke !important; color:blue;">27 Derece</th>
                        </tr>
                        <tr>
                            <th>Saatler/Günler</th>
                            <th>@DateTime.Now.ToShortDateString()</th>
                            <th>@DateTime.Now.AddDays(1).ToShortDateString()</th>
                            <th>@DateTime.Now.AddDays(2).ToShortDateString()</th>
                        </tr>
                    </thead>
                    <tbody id="tabloveri">
                        <!--Tablo Dolduruluyor-->
                        <tr>
                            <td><b>08:00</b></td>
                            <td>
                                <input id="txt1" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="button" name="txt1" value="Boş" />
                                <input id="txt11" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="hidden" name="txt11" value="" />

                            </td>
                            <td>
                                <input id="txt2" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style=" width:100px; color:blue !important;" type="button" name="txt2" value="Boş" />
                                <input id="txt22" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="hidden" name="txt22" value="" />

                            </td>
                            <td>
                                <input id="txt3" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="button" name="txt3" value="Boş" />
                                <input id="txt33" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="hidden" name="txt33" value="" />

                            </td>
                        </tr>
                        <tr>
                            <td><b>10:00</b></td>
                            <td>
                                <input id="txt4" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="button" name="txt4" value="Boş" />
                                <input id="txt44" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="hidden" name="txt44" value="" />

                            </td>
                            <td>
                                <input id="txt5" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="button" name="txt5" value="Boş" />
                                <input id="txt55" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="hidden" name="txt55" value="" />

                            </td>
                            <td>
                                <input id="txt6" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="button" name="txt6" value="Boş" />
                                <input id="txt66" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="hidden" name="txt66" value="" />

                            </td>
                        </tr>
                        <tr>
                            <td><b>13:00</b></td>
                            <td>
                                <input id="txt7" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="button" name="txt7" value="Boş" />
                                <input id="txt77" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="hidden" name="txt77" value="" />

                            </td>
                            <td>
                                <input id="txt8" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="button" name="txt8" value="Boş" />
                                <input id="txt88" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="hidden" name="txt88" value="" />

                            </td>
                            <td>
                                <input id="txt9" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="button" name="txt9" value="Boş" />
                                <input id="txt99" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="hidden" name="txt99" value="" />

                            </td>
                        </tr>
                        <tr>
                            <td><b>15:00</b></td>
                            <td>
                                <input id="txt10" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="button" name="txt10" value="Boş" />
                                <input id="txt1010" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="hidden" name="txt1010" value="" />

                            </td>
                            <td>
                                <input id="txt11" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="button" name="txt11" value="Boş" />
                                <input id="txt1111" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="hidden" name="txt1111" value="" />

                            </td>
                            <td>
                                <input id="txt12" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="button" name="txt12" value="Boş" />
                                <input id="txt1212" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="hidden" name="txt1212" value="" />

                            </td>
                        </tr>
                        <tr>
                            <td><b>17:00</b></td>
                            <td>
                                <input id="txt13" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="button" name="txt13" value="Boş" />
                                <input id="txt1313" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="hidden" name="txt1313" value="" />

                            </td>
                            <td>
                                <input id="txt14" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="button" name="txt14" value="Boş" />
                                <input id="txt1414" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="hidden" name="txt1414" value="" />

                            </td>
                            <td>
                                <input id="txt15" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="button" name="txt15" value="Boş" />
                                <input id="txt1515" data-toggle="modal" data-target="#myModal" class="btn-xs btn btn-primary" style="width:100px; color:blue !important;" type="hidden" name="txt1515" value="" />

                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
</div>

